.listing-header {
    display: flex;
    flex-direction: row;
    width: 35vw;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.bundle-header {
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin-left: 5vw;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding-bottom: 5px;
}

.listing-name {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 2px;
}

.listing-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}

.listing-item-container {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.listing-item-container:hover {
  background-color: #f3f3f3;
}

.listing-item-delete {
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.listing-item-delete:hover {
  opacity: 0.5;
}

.bundle-item {
    margin-left: 5vw;
}

.divider {
    border-right: 2px solid lightgray;
    padding-right: 5vw;
}

.status-listing {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
    padding-left: 10vw;
}

.status-table {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 5vh;
    height: 100px;
    /* padding-bottom: vh; */
    background-color: lightgray;
}

.status-item {
    padding-bottom: 10px;
    font-weight: 200;
}

.listing-add {
    text-decoration: none;
    background-color: rgb(108, 202, 233);
    color: white;
    border-radius: 18px;
    font-size: 24px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-svg {
  fill: white;
  height: 12px;
  width: 12px;
}

.check-with-label:checked + .label-for-check {
    font-weight: bold;
}

.item-title {
    padding-bottom: 10px;
    font-weight: 400;
}

.padding {
    padding-bottom: 10px;
}

.trash-container {
  justify-content: center;
}
