.Footer {
    /* margin-top: 25vh; */
    height: 100px;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}

.svg-group {
  display: flex;
  height: 100%;
  position: absolute;
}
