.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    /* font-size: calc(10px + 2vmin); */
}

.Text {
    color: white;
    margin: 2vh 2vw;
}

.BHaul {
    font-family:Comic Sans;
}

.Buy {
    font-style: italic;
}

.Option {
    text-align: right;
}