#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

#sidebar {
  background-color: white;
  width: 25%;
  min-width: 350px;
  height: 100%;
}

#map {
  height: 100%;
  flex-grow: 1;
}
