.Landing-Prompt {
    font-size: 6vh;
    font-weight: 200;
    text-align: center;
  }

  .Landing-Options {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Landing-Click {
    text-align: center;
    font-weight: 600;
    font-size: 2.5vh;
  }

  .Landing-Color {
    color: maroon;
    text-decoration: none;
  }
