.Facebook {
    padding: 23vh 12vw;
    padding-top: 4vh;
}

.User {
    padding-top: 20vh;
    padding-bottom: 30vh;
}

.Preference-Prompt {
    padding-top: 30vh;
    font-size: 6vh;
    font-weight: 200;
    text-align: left;
    padding-left: 12vw;
}

.Preference-Slogan {
    padding-left: 12.3vw;
    padding-top: 1vh;
    font-size: 4vh;
    font-weight: 200;
    color: rgb(150, 145, 145);
}

.Preference-Opts {
    text-decoration: none;
    font-size: 5vh;
    background: -webkit-linear-gradient(blue,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Preference-Pad {
    padding-top: 3vh;
    padding-right: 0vw;
}

.User-Name {
    font-weight: 300;
    font-size: 7vh;
    margin-bottom: 8vh;
}

.User-Email {
    font-size: 3vh;
    color: blue;
    margin-top: 3vh;
}

.User-Pic {
    height: 14vh;
    width: 6.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}