.Facebook {
    padding: 32vh 25vw;
}

.User {
    padding: 23vh 25vw;
}

.Preference-Opts {
    color: maroon;
    text-decoration: none;
}

.Preference-Pad {
    padding-top: 3vh;
    padding-right: 0vw;
}
