#filters {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.filter-item {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.filter-item-prompt {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.filter-item-label {
  padding-right: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.dropdown-prompt {
  width: 100%;
}

.filter-section-title {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
